{% extends 'base.html.twig' %}

{% block title %}   Home{{"nom"}}{% endblock %} 
    
{% block content %}



<!-- Caroussel================================================== -->
    
<div class ="form container-fluid">
    <div class="row  testation "> 

        <h1> Billet d'entrée pour visiteur individuel </h1></br>
        <p>Billet et réservation horaire incluant les collections permanentes, les expositions temporaires  et le musée Eugène-Delacroix.</p>
        <p>Entrée à tarif reduit, sur présentation d’un justificatif pour les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen, les personnes handicapées et leur accompagnateur, et les bénéficiaires des minima sociaux. Liste complète sur Louvre.fr.
        Billet valable seulement le jour sélectionné.</p>
    </div> 

    
  
    <div class ="row container-fluid  ">

        <div class ="col-sm-8">
            <div class=" row formulaire">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}

                {# Génération du label + error + widget pour un champ. #}
                {{ form_row(form.name) }}

                {# Génération manuelle et éclatée : #}
                
                {{ form_row(form.surname) }}
                {{ form_row(form.email) }}

                    <div class="col-sm-offset-4 ticketform"> 
                        {{ form_row(form.tickets) }}
                    </div>
                    <a href="#" id="add_ticket" class="btn btn-default">Ajouter un ticket</a>
            </div>

        </div>

        <div class ="panier col-sm-offset-1 col-sm-3">
            <h3> Mon Panier </h3>
            <h4> Jour de visite <h4>
            <h5>{{ dateVisit | date('j. F Y') }}</h5>
            <h4>Choix du type de billet</h4>
            <h5>{{ ticketType }}</h5>
        </div>

    </div>
          

     <div class=" col-sm-offset-4">
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        <a class=" btn btn btn-primary" href="{{path('home')}}">Retour à l'accueil <span class="glyphicon glyphicon glyphicon-hand-right"></span></a>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary '}}) }}
    </div>

        {# Génération automatique des champs pas encore écrits.
            Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
            et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
</div>



 


{% endblock %}