{% extends 'base.html.twig' %}


{% block title %}   "billetterie officielle" {% endblock %} 
    
{% block content %}

{# src/Louvre/PlatformBundle/Resources/views/Advert/index.html.twig #}

    <!-- Caroussel================================================== -->
<div class="container-fluid"> 
    <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>      
            </ol>
          <div class="carousel-inner">
                <div class="item active"> <img src="{{ asset('image/louvre-carrousel-01.jpeg') }}"  alt="carrousel01" />
                  <p class="carousel-caption" ><span id="evenement">Evénement</span><br>
                      <span id="titre">30 ANS <br>
                       DE LA PYRAMIDE</span> <br>
                        <span id="texte">Particpez aux événements festifs de cet anniversaire<br>
                            </span></p>
                </div>

                <div class="item"> <img src="{{ asset('/image/louvre-carrousel-02.jpeg') }}"  alt="carrousel02" />
                    <p class="carousel-caption"><span id="evenement">Exposition</span><br>
                                                <span id="titre">GRAVER<br>
                                                 POUR LE ROI</span><br>
                        <span id="texte">Collection de la Chalcographie du Louvre<br>
                        du 21 Février 2019 au 20 Mai 2019 </span>
                    </p>
                </div>

                <div class="item"> <img src="{{ asset('/image/louvre-carrousel-03.jpeg') }}"  alt="carrousel03" />
                    <p class="carousel-caption"><span id="evenement">Auditorium</span><br>
                      <span id="titre">SAISON MUSIQUE <br>
                      2019-2020</span><br>
                        <span id="texte">Abonnez-vous dès maintenant</span>
                    </p>
                </div>

                <div class="item"> <img src="{{ asset('/image/louvre-carrousel-04.jpeg') }}"  alt="mastercard" />
                  <p class="carousel-caption">
                      <span id="evenement">Événement</span><br>
                      <span id="titre">LES JEUNES <br>
                      ONT LA PAROLE  <br>
                     </span>
                      <span id="texte"> Nocturnes étudiantes<br>
                      Les 29 Mars, 5 et 12 Avril 2019</span>
                    </p>
                </div>  
           </div>       
            
                <a class="left carousel-control" href="#carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                
        
     </div>

</div>   

   <!-- formulaire================================================== -->

<div class="row title"> 
    <h1>Billeterie page d'acceuil</h1>
</div>

<div class="row billetdescription text-center">

    <h1>Musée du Louvre</h1>
    <h2>Collections permanentes, expositions temporaires et musée Eugène Delacroix</h2>
    <p>
        Ouvert de 9h à 18h, et jusqu’à 21h45 les mercredis et vendredis. Fermé les mardis et les 1 er janvier, 1 er mai et 25 décembre. Entrée libre sans billet, sur présentation d’un justificatif pour les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen, les personnes handicapées et leur accompagnateur et les bénéficiaires des minimas sociaux.
    </p>



        
    <div class=" row formulaire">
        <h2>Attention la vente de tickets individuels est limité  à 8  billets au maximum </h2>
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_row(form.dateVisit) }}
            {{ form_row(form.ticketType) }}
                
         <div class=" row text-center">
            <div class=" col-sm-offset-4   billetchoice"> 
                <img src="{{ asset('/image/joconde.jpeg') }}"   /></br>
                {{ form_row(form.save) }}
                {{ form_rest(form) }}

                {{ form_end(form) }}
            </div>
         </div>
    </div>

</div>

{% endblock %}