{% extends 'base.html.twig' %}


{% block title %}   Home{{"nom"}}{% endblock %} 
    
   {% block content %}

{# src/Louvre/PlatformBundle/Resources/views/Advert/index.html.twig #}

    <!-- Caroussel================================================== -->
<div class ="form container-fluid">
    <div class="row  testation "> 

        <h1> Billet d'entrée pour visiteur individuel </h1></br>
        <p>Billet et réservation horaire incluant les collections permanentes, les expositions temporaires  et le musée Eugène-Delacroix.</p>
        <p>Entrée à tarif reduit, sur présentation d’un justificatif pour les moins de 18 ans, les 18-25 ans résidents de l’Espace Economique Européen, les personnes handicapées et leur accompagnateur, et les bénéficiaires des minima sociaux. Liste complète sur Louvre.fr.
        Billet valable seulement le jour sélectionné.</p>
    </div> 

    
   

    <div class="row panierfinal ">      
            <h2>Récapitulatif de votre panier</h2> 
            <div class="row col-sm-offset-2 billetVisitor ">
                <p>Date de votre visite : {{ commande.dateVisit | date('j F Y') }}</p> 
                <p>Type de billet : {{ commande.ticketType }}</p>
            </div>


            <h2>description de vos billets</h2>
        
               
                    {% set id = 1 %}    
                    {% for ticket in tickets %}
                    <div class="row col-sm-offset-2 billetVisitor ">
                     <ul>
                        <li>
                        <div class="col-sm-8  ">
                            <p>visiteur n° {{ id }}: {{ ticket.name }}  {{ ticket.surname }}</p>
                            <p>Date de votre visite : {{ commande.dateVisit | date('j F Y') }}</p>
                            
                                {% if commande.ticketType == "demi-journee" %}
                                    <p>Type de billet : {{ commande.ticketType }} (Éntrée valable à partir de 14h00)</p>
                                {% else %}
                                       <p>Type de billet : {{ commande.ticketType }} (Éntrée valable uniquement à partir de 9h00)</p>
                                {% endif %} 
                            
                            <p>né le  {{ ticket.birth | date('j F Y')  }}</p>
                            <p>Nationalité : {{ ticket.nationality }} </p>
                            </div>
                           
                        <div class="col-sm-4 priceticket ">
                            <h1>prix du billet : </h1>
                            <h1> {{ ticket.price }} €</h1>
                        </div></br>
                        <div class="row col-sm-12"> 
                            {% if ticket.reduction == true %}
                                    <p> <redtext>Billet à tarif réduit, une pièce d'identité vous sera demandé à l'entrée du musée pour justifier votre reduction.</redtext></p>
                             {% endif %} 
                            <p><a class=" btn btn-info btn-md" href="{{path('firststage')}}" >modifier le billet  </a></p>
                        </div>
          
                        </li>
                    
                        {% set id = id + 1 %}
                        </ul>
                    </div>
                    
                    {% endfor %}
                
              

            <h2>Montant total de votre panier</h2>

            <div class="row col-sm-offset-2 billetVisitor ">
                <p>Nombre de billet : {{ commande.numberTicket }}</p>
                <p>Montant de votre panier : {{ commande.price }} euros</p>
                  {{ form(form) }}
            </div>    
    </div>
 
</div>

{% endblock %}