{% block content %} 

<div class="container-fluid validation">  


    <h2>Le musée du louvre vous remercie pour votre achat,
    veuillez trouver ci dessous votre facture a imprimer et à presenter à l'entrée du musée : </h2>

     

   <div class="row col-sm-offset-2 panierfinal ">   
            <div class="row col-sm-offset-2 billetVisitor ">
                 <p> <h2>  facture numero : {{ commande.numberCommande }}</h2></p>
                <p>Nombre de billet : {{ commande.numberTicket }}</p>
                <p>Montant de votre panier : {{ commande.price }} euros</p>     
            </div>      
 

    </div> 


    
   

    <div class="row col-sm-offset-2 panierfinal ">      
            <h1>Récapitulatif de votre panier</h1> 
            <div class="row col-sm-offset-2 billetVisitor ">
                <p>Date de votre visite : {{ commande.dateVisit | date('j.m.Y') }}</p> 
                <p>Type de billet : {{ commande.ticketType }}</p>
            </div>


            <h2>description de vos billets</h2>
        
               
                    {% set id = 1 %}    
                    {% for ticket in tickets %}
                    <div class="row col-sm-offset-2 billetVisitor ">
                     <ul>
                        <li>
                        <div class="col-sm-8  ">
                            <p><h2>visiteur n° {{ id }}: {{ ticket.name }}  {{ ticket.surname }}</h2></p>
                            
                            
                                {% if commande.ticketType == "demi-journee" %}
                                    <p>Type de billet : {{ commande.ticketType }} (Éntrée valable à partir de 14h00)</p>
                                {% else %}
                                       <p>Type de billet : {{ commande.ticketType }} (Éntrée valable uniquement à partir de 9h00)</p>
                                {% endif %} 
                            
                            <p>né le  {{ ticket.birth | date('j.m.Y')  }}</p>
                            <p>Nationalité : {{ ticket.nationality }} </p>
                            </div>
                           
                        <div class="col-sm-4 priceticket ">
                            <h1>prix du billet : </h1>
                            <h1> {{ ticket.price }} €</h1>
                        </div></br>
                        <div class="row col-sm-12"> 
                            {% if ticket.reduction == true %}
                                    <p> <redtext>Billet à tarif réduit, une pièce d'identité vous sera demandé à l'entrée du musée pour justifier votre reduction.</redtext></p>
                             {% endif %} 
                            
                        </div>
          
                        </li>
                    
                        {% set id = id + 1 %}
                        </ul>
                    </div>
                    
                    {% endfor %}
                
              

            <h1>Montant total de votre panier</h1>

            <div class="row col-sm-offset-2 billetVisitor ">
                <p>Nombre de billet : {{ commande.numberTicket }}</p>
                <p>Montant de votre panier : {{ commande.price }} euros</p>
                
            </div>    
    </div>
 
</div>

{% endblock %}