<html lang="fr">
  <head>
    

    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="billeterie musée du Louvre">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="resources/demos/style.css">
    <link rel="stylesheet" href="{{ asset('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css')}}" type="text/css" media="all"/>  
    <link href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css') }}" rel="stylesheet">      
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"> 

    
    <script type="text/javascript" src='js/style.js'></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
    
  <body> 

<div class="container-fluid validation ">  


    <h3>Le musée du louvre vous remercie pour votre achat,
    veuillez trouver ci dessous votre facture a imprimer et à presenter à l'entrée du musée : </h3>
     
     
    <div   style="background-color:grey; padding:10px");> 
   <div class="row col-sm-offset-1 panierfinal"  );>   

            <div class="row col-sm-offset-1 billetVisitor "style="background-color:white; margin:10px; padding:10px ">
                <div class="col-sm-2">
                    <img src="{{ img }}" width="50" border="0" alt="logo_du_louvre" style="padding-top:20px">
                </div> 
                <div class="col-sm-10">
                 <p> <h2>  facture numero : {{ commande.numberCommande }}</h2></p>
                <p>Nombre de billet : {{ commande.numberTicket }}</p>
                <p>Montant de votre panier : {{ commande.price }} euros</p>  
                </div>    
            </div>      
 

    </div> 

    <div class="row col-sm-offset-1 panierfinal ">      
            <h1 style="background-color:red; padding:10px">Récapitulatif de votre panier</h1> 
            <div class="row col-sm-offset-1 billetVisitor "style="background-color:white; margin:10px; padding:10px ">
                <p>Date de votre visite : {{ commande.dateVisit | date('j.m.Y') }}</p> 
                <p>Type de billet : {{ commande.ticketType }}</p>
            </div>


            <h2 style="background-color:red; padding:10px">Description de vos billets</h2>
        
               
                    {% set id = 1 %}    
                    {% for ticket in tickets %}
                    <div class="row col-sm-offset-1 billetVisitor" style="background-color:white; margin:10px; padding:10px ">
                     <ul>
                        <li>
                        <div class="col-sm-2">
                        <img src="{{ img2 }}" width="100" border="0" alt="joconde"style="padding-top:20px">
                        </div>

                        <div class="col-sm-6"  style="padding-top:-50px ">
                            <p><h2>visiteur n° {{ id }}: {{ ticket.name }}  {{ ticket.surname }}</h2></p>
                            
                            
                                {% if commande.ticketType == "demi-journee" %}
                                    <p>Type de billet : {{ commande.ticketType }} (Éntrée valable à partir de 14h00)</p>
                                {% else %}
                                       <p>Type de billet : {{ commande.ticketType }} (Éntrée valable uniquement à partir de 9h00)</p>
                                {% endif %} 
                            
                            <p>né le  {{ ticket.birth | date('j.m.Y')  }}</p>
                            <p>Nationalité : {{ ticket.nationality }} </p>
                            </div>
                           
                        <div class="col-sm-4 priceticket ">
                            <h1>prix du billet : </h1>
                            <h1> {{ ticket.price }} €</h1>
                        </div></br>
                        <div class="row col-sm-12"> 
                            {% if ticket.reduction == true %}
                                    <p> <redtext>Billet à tarif réduit, une pièce d'identité vous sera demandé à l'entrée du musée pour justifier votre reduction.</redtext></p>
                             {% endif %} 
                            
                        </div>
          
                        </li>
                    
                        {% set id = id + 1 %}
                        </ul>
                    </div>
                    
                    {% endfor %}
                
              

            <h1 style="background-color:red; padding:10px">Montant total de votre panier</h1>

            <div class="row col-sm-offset-1 billetVisitor " style="background-color:white; margin:10px; padding:10px ">
                <p>Nombre de billet : {{ commande.numberTicket }}</p>
                <p>Montant de votre panier : {{ commande.price }} euros</p>
                
            </div>    
    </div>
 
</div>
</div>

  </body>

</html>